hr {
    display: none;
}

body {
    background-color: #E7E7E7;
    font-family: sans-serif;

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border-radius: 20px;
        background-color: #FFFFFF;
        gap: 30%;

        #help-button {
            margin-left: 18px;
            padding: 15px 30px;
            background-color: #e66487;
            color: #FFFFFF;
            font-size: 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: transform 0.2s ease, background-color 0.2s ease;

            &:hover {
                background-color: rgb(180, 42, 72);
                transform: scale(1.05);
            }
        }

        #diagrammings-title {
            font-size: 34px;
        }

        #export-button {
            margin-right: 18px;
            padding: 15px 30px;
            background-color: #4998ff;
            color: #FFFFFF;
            font-size: 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: transform 0.2s ease, background-color 0.2s ease;

            &:hover {
                background-color: rgb(58, 77, 253);
                transform: scale(1.05);
            }
        }
    }

    #diagramming-content {
        display: flex;
        justify-content: center;
        margin: 20px;
        gap: 30px;

        #diagrams-elements-selector-div {
            width: 20%;
            height: 520px;
            border-radius: 15px;
            background-color: #FFFFFF;
            overflow-x: hidden;
            overflow-y: scroll;

            #diagrams-elements-selector-header-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            #diagrams-elements-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .diagram-elements-organizer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    #start-end-element-img,
                    #input-output-element-img,
                    #use-case-element-img,
                    #system-element-img {
                        display: block;
                        width: 100px;
                        height: 60px;
                        cursor: grab;
                    }

                    #document-element-img {
                        display: block;
                        width: 100px;
                        height: 60px;
                        margin-left: 12px;
                        cursor: grab;
                    }

                    #decision-element-img {
                        display: block;
                        width: 70px;
                        height: 70px;
                        margin-left: 18px;
                        cursor: grab;
                    }

                    #on-page-reference-element-img {
                        display: block;
                        width: 60px;
                        height: 60px;
                        padding: 5px;
                        margin-left: 4px;
                        cursor: grab;
                    }

                    #off-page-reference-element-img {
                        display: block;
                        width: 60px;
                        height: 60px;
                        padding: 5px;
                        margin-left: 26px;
                        cursor: grab;
                    }

                    #process-element-img {
                        display: block;
                        width: 100px;
                        height: 50px;
                        cursor: grab;
                    }

                    #actor-element-img {
                        display: block;
                        width: 40px;
                        height: 80px;
                        margin-left: 32px;
                        cursor: grab;
                    }
                    
                    #use-case-element-img {
                        display: block;
                        width: 100px;
                        height: 50px;
                        margin-left: 25px;
                        cursor: grab;
                    }

                    #flow-element-img,
                    #asociation-element-img,
                    #dependency-element-img,
                    #generalization-element-img {
                        display: block;
                        width: 100px;
                        height: 75px;
                        cursor: grab;
                    }

                }
            }
        }

        #diagrams-maker-canvas {
            width: 55%;
            height: 520px;
            background-color: #FFFFFF;
        }

        #diagrams-elements-editor-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 25%;
            height: 520px;
            border-radius: 10px;
            background-color: #FFFFFF;

            #selected-image-div {
                display: none;

                #text-h2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                #selected-element-text-input-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: -10px;

                    #selected-element-text-input {
                        padding: 0.25rem;
                        width: 95%;
                        border: 1px solid #CCCCCC;
                        border-radius: 3px;
                        font-size: 1rem;
                    }
                }

                #text-modifiers-div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                    gap: 5px;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;
                        border: 1px solid #CCCCCC;
                        border-radius: 3px;
                        background-color: #FFFFFF;
                        cursor: pointer;

                        &:hover {
                            background-color: #EEEEEE;
                        }
                    }

                    img {
                        width: 22px;
                        height: 22px;
                    }

                    #text-font-size-input {
                        padding: 0.25rem;
                        width: 44%;
                        border: 1px solid #CCCCCC;
                        border-radius: 3px;
                        font-size: 1rem;
                    }
                }

                #include-extends-inputs-div {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                    font-size: 1rem;

                    #extends-input {
                        margin-left: 1rem;
                    }
                }

                #positioning-text-div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                    margin-top: 10px;

                    #positioning-h2 {
                        color: #000000;
                    }
                }

                #image-position-modifier-div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -10px;
                    gap: 0.5rem;

                    button {
                        padding: 0.5rem;
                        border: 1px solid #CCCCCC;
                        border-radius: 3px;
                        background-color: #FFFFFF;
                        font-size: 14px;
                        cursor: pointer;

                        &:hover {
                            background-color: #EEEEEE;
                        }
                    }
                }
            }

            #non-selected-image-div {
                display: flex;
                text-align: center;
                font-size: 40px;
            }
        }
    }


    // Media query for smaller screens
    @media (max-width: 768px) {
        flex-direction: column; // Stack elements vertically
        gap: 20px;

        #diagrams-elements-selector-div,
        #diagrams-maker-canvas,
        #diagrams-elements-editor-div {
            width: 100%;
            height: auto; // Adjust height to fit content dynamically
        }
    }
}